<a href="https://colab.research.google.com/github/kavitaraikwar07/Python/blob/main/KAVITA_RAIKWAR(AI_%26_DS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#create a set.........
set1={"cow","dog","cat"}
print(set1)

{'cat', 'cow', 'dog'}

In [ ]:
#duplicate value not allowed...........
set2={"kavita","raikwar","kavita"}
print(set2)

{'kavita', 'raikwar'}

In [ ]:
#length of a set.............
set3={"john",34,"avi","evie"}
print(len(set3))

4

In [ ]:
#datatype...............
set1={"apple","banana","cherry"}
set2={34,56,78,29}
set3={True,False,True}
print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{56, 34, 29, 78}
{False, True}

In [ ]:
#A set contain different datatype,,,,,
set1={"abc",34,True,4,"male"}
print(set1)

{True, 34, 4, 'abc', 'male'}

In [ ]:
#type()..........
#what is the data type os a set.........
set1={"cat","dog","bird"}
print(type(set1))

<class 'set'>

In [ ]:

#access items..........
myset={"dog","cat","bird"}
for cat in this set
print(myset)

SyntaxError: ignored

In [ ]:
#check if banana is present in the set..........
thisset={"dog","cow"}
print("banana"in this set)

SyntaxError: ignored

In [ ]:
set={"dog","cat"}
#print("dog in this set")
set.add("cow")
print(set)

{'cat', 'cow', 'dog'}

In [ ]:
set={"cow","dog"}
disp={"bird","animal"}
set.update(disp)
print(set)

{'cow', 'animal', 'bird', 'dog'}